/* General Styles */
/* possible reds #950101 #8e1616 #C00001*/
:root {
  --main-red: #c00001;
  --textured: url(/images/texture.jpg);
}

.font-chiller {
  font-family: "Chiller", sans-serif;
}
.font-tittle {
  font-family: "Saira Stencil One", serif;
  font-weight: 400;
  font-style: normal;
}
.font-viva {
  font-family: "Vina Sans", serif;
  font-weight: 400;
  font-style: normal;
}
.font2 {
  font-family: "Rubik Maps", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  color: var(--main-red);
}

header {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 20px;
  position: relative;
  margin-top: 20px;
}

/* NAV-BAR (START) */
nav {
  font-family: "Vina Sans", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  list-style: none;
  padding: 20px;
  margin: 0;
  display: none; /* Collapsed by default */
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--main-red);
  position: absolute;
  top: 30px;
  left: 50%;
  width: 90%;
  height: 80vh;
  transform: translateX(-50%);
  text-align: left;
  z-index: 1;
}

.nav-links.active {
  display: flex;
}

.nav-links li {
  margin: 10px 0;

}

.nav-links li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 15vh;
  white-space: nowrap;

}

.nav-links li a:hover {
  text-decoration: none;
animation: glitch 0.3s linear normal forwards;
}

.menu-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: var(--main-red);
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}
@keyframes glitch {
    0%, 20%, 90%{
        color: transparent;
    }
    10%, 40%{
        color: black;
    }
    
    100%{
        color: white;
    }
}
/* NAV-BAR (END) */

main {
  min-height: 100vh;
  margin-top: -60px;
  /* min-height: calc(100vh - 160px);  Ensures consistent height */
  padding-bottom: 54px;
}

h1 {
  color: var(--main-red);
}

footer {
  background-color: var(--main-red);
  color: black;
  text-align: center;
  padding: 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* INDEX design (START) */
/* General Page Styling */
main {
  padding: 0;
}
.body1 {
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.banner,
.video-container {
  height: 100vh; /* Ensure no restriction of height */
}

.video-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#video-bg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.svg-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Ensure it takes the full height of .banner */
  display: flex;
  justify-content: center;
  align-items: center;
}

.rect {
  width: 100%;
  height: 100%; /* Match the full height */
}

.tittle {
  display: flex;
  font-size: 28vw;
}
.tittleY {
  display: flex;
  font-size: 20vw;
}
svg {
  width: 100%;
  height: 100%;
}

/* INDEX design (END) */

/* ABOUT design (START) */
.container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.image1 {
  width: 450px;
}
.image2 {
  width: 450px;
}
/* ABOUT design (END) */

/* CONTACT design (START) */
.contact-container {
  border: 0.1rem solid yellow;
  height: 88vh;
  padding-top: 4.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.contact-form {
  border: 0.1rem solid yellow;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
}
.contact-form {
  list-style: none;
}
/* CONTACT design (END) */

/* Landscape phones and down */
@media (max-width: 480px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 1024px) {
  /* NAV-BAR*/
  .nav-links li a {
    /* font-size: 12vw; */
  }
  /* INDEX design */
  .tittle {
    font-size: 48vh;
    font-family: "Vina Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  .tittleY {
    display: flex;
    font-size: 28vw;
  }
}
