/* General Styles */
/* possible reds #950101 #8e1616 #C00001*/
:root {
  --main-red: #c00001;
  --textured: url(/images/texture.jpg);
}

.font-tittle {
  font-family: "Saira Stencil One", serif;
  font-weight: 400;
  font-style: normal;
}
.font2 {
  font-family: "Rubik Maps", serif;
  font-weight: 400;
  font-style: normal;
}
.font-chiller {
  font-family: "Chiller", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  color: var(--main-red);
}

header {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 20px;
  position: relative;
  margin-top: 20px;
}

/* NAV-BAR (START) */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none; /* Collapsed by default */
  flex-direction: column;
  background-color: var(--main-red);
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  text-align: center;
  z-index: 1;
}

.nav-links.active {
  display: flex;
}

.nav-links li {
  margin: 10px 0;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.menu-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: var(--main-red);
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

/* NAV-BAR (END) */

main {
  padding: 20px;
  min-height: 100vh;
  margin-top: -60px;
  /* min-height: calc(100vh - 160px);  Ensures consistent height */
}

h1 {
  color: var(--main-red);
}

footer {
  background-color: var(--main-red);
  color: black;
  text-align: center;
  padding: 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* INDEX design (START) */
/* General Page Styling */
main {
  padding: 0;
}
.body1 {
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.banner,
.video-container {
  height: 100vh; /* Ensure no restriction of height */
}

.video-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#video-bg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.svg-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Ensure it takes the full height of .banner */
  display: flex;
  justify-content: center;
  align-items: center;
}

.rect {
  width: 100%;
  height: 100%; /* Match the full height */
}

.tittle {
  display: flex;
  font-size: 450px;
}
.tittleY {
    display: flex;
  font-size: 350px;
  color: var(--main-red);
}
svg {
  width: 100%;
  height: 100%;
}

/* INDEX design (END) */

/* ABOUT design (START) */
.container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.image1 {
  width: 450px;
}
.image2 {
  width: 450px;
}
/* ABOUT design (END) */

/* CONTACT design (START) */
.contact {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* CONTACT design (END) */

@media (min-width: 774px) {
  .text {
    font-size: 25vw;
  }
}
